@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #07102e;
  color: white;
  font-family: "Nunito Sans", sans-serif;
}

.bg-gradient-premium {
  background: linear-gradient(135deg, #093dce 0%, #07102e 100%);
}

.bg-gradient-pro {
  background: linear-gradient(
    135deg,
    #00d36c 0%,
    #01b662 18%,
    #036f4c 44%,
    #053b3b 65%,
    #061c31 81%,
    #07102e 90%
  );
}

.bg-gradient-lite {
  background: linear-gradient(135deg, #173998 0%, #07102e 90%);
}

.bg-gradient-free {
  background: linear-gradient(135deg, #0e477a 0%, #07102e 90%);
}
